p{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}
h1{
    text-align: left;
}
a{
    color: olive
}
a:visited{
    color: purple;
}

a:hover{
    text-decoration: underline;
    color: red;
}